#!/bin/bash

export CONTAINER_IMAGE_NAME='echo-bot-py'
export CONTAINER_IMAGE_NAME=${CONTAINER_IMAGE_NAME}
export CONTAINER_IMAGE_TAG="${CONTAINER_IMAGE_TAG}"

export CONTAINER_REGISTRY_NAME=FIXME
export CONTAINER_REGISTRY_URL="${CONTAINER_REGISTRY_NAME}.azurecr.io"
export CONTAINER_REGISTRY_USER_NAME=FIXME
export CONTAINER_REGISTRY_USER_PASSWORD=FIXME
