#!/bin/bash

export REPO_NAME='echo-bot-py'

export CONTAINER_REGISTRY_NAME=FIXME
export CONTAINER_REGISTRY_URL='FIXME.azurecr.io'
export CONTAINER_REGISTRY_USER_NAME=FIXME
export CONTAINER_REGISTRY_USER_PASSWORD=FIXME
